<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online c++ compiler</title>
</head>

<body>
<h1>Compile C++</h1>

<form action="/programs" method="post" accept-charset="utf-8">
    <label for="inputCode">main.cpp:</label>
    <br>
    <textarea id="inputCode" name="inputCode" rows="4" cols="50"\>
#include <stdio.h>

int main(){
   printf("c++ compiled and run");
}
    </textarea>
    <br><br>
    <input id="inputButton" type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the
    server called "rawcode.cpp".</p>
<br><br>
    <label for="outputCode">Output:</label>
    <br>
<textarea id="outputCode" name="outputCode" rows="4" cols="50">
    code will appear here
</textarea>


</body>
<script type="text/javascript">
    let button = document.getElementById("inputButton");

    button.addEventListener('click', function () {
        const Http = new XMLHttpRequest();
        const url = "localhost:8080/programs";
        Http.open("POST",url);
        Http.send(document.getElementById("inputCode").value);

        document.getElementById("outputCode").value = Http.responseText;
    })
</script>

</html>