<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<h1>Compile C++</h1>

<form action="/programs" method="post" accept-charset="utf-8">
    <label for="inputCode">main.cpp:</label>
    <br>
    <textarea id="inputCode" name="inputCode" rows="4" cols="50"\>
#include <stdio.h>

int main(){
   printf("hello world");
}
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the
    server called "rawcode.cpp".</p>
<br><br>
    <label for="outputCode">Output:</label>
    <br>
<textarea id="outputCode" name="outputCode" rows="4" cols="50"></textarea>


</body>

</html>